<h1>List of all directors</h1>

<table border="1">
  <% @list_of_directors.each do |dir| %>
    <tr>
      <td><%= dir.name %></td>
      <td><%= dir.dob %></td>
      <td><%= dir.bio %></td>
      <td><%= dir.id %></td>
    </tr>
  <% end %>
</table>
